
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');
/* General*/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    color:rgb(85, 85, 85);
}
/*transition*/
a,.byn{
    transition: all 300ms ease;
}
/*desktop-nav*/
#desktop-nav,
.nav-link{
    display: flex;
}
#desktop-nav{
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    margin: 2rem;
}
.nav-link{
    gap: 2rem;
    list-style: none;

}
a{
    text-decoration: none;
    color: black;
    text-decoration: white;
}
a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}
.logo{
    font-size: 2rem;

}
.logo:hover{
    cursor: default;
}
.image{
    width: 55rem;
    height: 45rem;
    

}
.image img{
    width: 30rem;
   margin-left: 18rem;
   margin-top: 3rem;
  
}
.main-menu{
    display: flex;
    
}
.info-i{
    text-align: left;
    margin-top: 2rem;
    width: 43rem;
    height: 45rem;
}

.info-i > *{
    margin: 1rem;
    margin-left: 1em;
}
h1{
    font-weight: 900;
    font-size: 3rem;
}
h4{
    color: rgb(143, 137, 137);
}
button{
    background-color: black;
    color: white;
    width: 10rem;
    height: 3rem;
    border-radius: 4rem;
}
#button{
    margin-left: 5.5rem;
    width: 25rem;
}
#download-cv{
    background-color: white;
    color: black;
    margin: 2rem;
}
#icon{ 
    height: 5rem;
    width: 15rem;
    align-items: center;
    margin-top: 0.1rem;
    margin-left: 11.5rem;
    margin-bottom: 2rem;
}
.icon-2{
    width: 4.5rem;
    margin: 1rem;
}
#download-cv:hover{
    background-color: black;
    color: white;
  
    
    
}
#contact-info:hover{
    background-color: rgb(52, 48, 48);

}
#less{
    font-size: 2rem;
    margin-left: 1rem;
}